# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### IntelliJ IDEA ###
.idea
*.iml
*.xml

# Distribution / packaging
.Python
venv/
env/
build/
dist/
lib/
lib64/

# Installer logs
pip-log.txt