<h1> Login </h1>

<form action="/users/companyLogin" method="POST">
    <div>
        <div>
            <label for="Company Name">Company Name</label>
            <input
                    type="Companyname"
                    name="Compnayname"
                    placeholder="Enter Company Name"
            />
        </div>
        <br>

        <div>
            <label for="Email">Email</label>
            <input
                    type="Email"
                    name="Email"
                    placeholder="Enter Email"
            />
        </div>
        <br>

        <div>
            <label for="PhoneNumber">Phone Number</label>
            <input
                    type="PhoneNumber"
                    name="PhoneNumber"
                    placeholder="Enter Phone Number"
            />
            <br>
        </div>
        <div>
            <label for="Username">Username</label>
            <input
                    type="name"
                    name="name"
                    placeholder="Enter Username"
            />
        </div>
        <div>
            <label for="password">Password</label>
            <input
                    type="password"
                    name="password"
                    placeholder="Enter Password"
            />
        </div>

        <div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>

        <div>

            <br>

            <a href="users/forgotPassword">Forgot Password</a>

            <br>

            <a href="users/forgotPassword">Forgot Password</a>

        </div>

    </div>

    <div>

    </div>

</form>
