<h1>Home</h1>

<form action="/users/home" method ="POST">
<div>
    <label for="Welcome to your home page">Search</label>
    <input
            type = "search"
            name = "search"
            placeholder = "search"
            />

</div>
</form>