<html>
<form action="/users/home" method ="POST">


    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                font-family: "Lato", sans-serif;
            }

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }
        </style>
    </head>
    <body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/users/jobSearch">Job Serach</a>
        <a href="/users/baseProfile">Profile</a>
        <a href="/users/applications">Jobs/Applications</a>
        <a href="/users/settings">Settings</a>
        <a href="/users/aboutUs">AboutUs</a>
        <a href="/contactUs">ContactUs</a>
        <a href="/users/help">Help</a>
        <a href="#">Log Out</a>

    </div>


    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; THE BINARY JOB SEARCH</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>
    </head>



    <img src="img_avatar.png" alt="Avatar" class="avatar">
    <br>
    <h2>User</h2>
    <br>

    <input type = "button" onclick="location.href='/users/baseProfile';" value = "Edit Profile" />
    <br>
    <br>
    <br>
    <h2>Top Skills:</h2>
    <h4>need to bring in from base profile</h4>


    <h2>About User A:</h2>
    <h4>need to bring in from base profile</h4>





    </body>


</form>

</html>