<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Search</title>
    <h1>
        Job Search
        <%   %>
        <br>
        <br>
        <button onclick="myFunction()">Search</button>
        <p id="demo"></p>
        <script>
            function myFunction() {
                document.getElementById("demo").innerHTML = "js button";
            }
        </script>
        <script>

        </script>

    </h1>
</head>
<body>

</body>
</html>

