<h1> Login </h1>

<form action="/users/login" method="POST">
    <div>

        <div>
            <label for="Username">Username</label>
            <input
                    type="name"
                    name="name"
                    placeholder="Enter Username"
            />
        </div>
        <div>
            <label for="password">Password</label>
            <input
                    type="password"
                    name="password"
                    placeholder="Enter Password"
            />
        </div>

        <div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>

        <div>
            <br>
            <a href ="users/forgotPassword">Forgot Password</a>
            <br>
            <a href ="users/forgotPassword">Forgot Password</a>

        </div>

    </div>

<div>
    <h4>
        Don't have an account? Sign up <a href ="/register">here</a>
    </h4>
</div>

</form>
