<html>




    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                margin:0;
                font-family: Arial, Helvetica, sans-serif;
            }
            .topnav{
                overflow: hidden;
                background-color: #333;
            }
            .topnav a{
                float:left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px
            }
            .topnav a:hover{
                background-color: gray;
                color:blue;
            }
            .topnav a.active {
                background-color: darkblue;
                color: white;
            }

        </style>
    </head>

    <body>




    <h1>The Binary Job Search</h1>



    <div class="topnav">
        <a class="active" href="/users/contactUs">Contact Us</a>
        <a href="/users/aboutUs">About Us</a>
        <a href="/users/faq">FAQs</a>
        <a href="/users/help">Help</a>
        <a href="/users/login">Login</a>
    </div>

    <div style="padding-left:16px">
        <h2>
            Create an Account
        </h2>
    </div>




<form action="/users/register" method="POST">
    <div>
        <label for="email">Email</label>
        <input
                type="email"
                name="email"
                placeholder="Enter Email"
                value="<%= typeof email != 'undefined' ? email : '' %>"
        />
    </div>

    <div>
        <label for="Username">Username</label>
        <input
                type="name"
                name="name"
                placeholder="Enter Username"
                value="<%= typeof name != 'undefined' ? name : '' %>"
        />

    </div>

    <button type="check availability" class="btn btn-primary btn-block">
        Check Availability
    </button>


    <div >
        <label for="password">Password</label>
        <input
                type="password"
                name="password"
                placeholder="Create Password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
        />
    </div>


    <div >
        <label for="password2">Re-enter Password</label>
        <input
                type="password"
                name="password2"
                placeholder="Re-enter Password"
                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
        />
    </div>

    <div >
        <input type="checkbox"  id = "termsOfAgreement" name = "termsOfAgreement" value="checkbox">
        <label for="checkbox"> I agree to the
            <a href="/users/termsOfAgreement" target="_blank"> terms of agreement.</a>
        </label><br>
    </div>

    <!--register button goes straight to home screen -->
    <!--
    <button type="submit" class="btn btn-primary btn-block">
        Register
    </button>
    -->
    <input type = "button" onclick="location.href='/users/home';" value = submit />


</form>
<p >Have An Account? <a href="/users/login">Login</a></p>

</body>

</html>
