<html>
<link href="/css/style.css" rel="stylesheet" type="text/css"> <!-- connects for css classes -->
<h1>Welcome Screen!</h1>
<p class="test">Create an account or login</p> <!-- //ex -->
<a href="/users/register">Register</a>
<a href="/users/login"> Candidate Login</a>
<a href="/users/companyRegistration"> Company Registration</a>
<a href="/users/home">Home</a>
</html>
