{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="position: absolute">
        <h2 class="title">Add Job to company user: {{ username }}</h2>
    </div>
</div>

<div class="container">
    <div class="position: absolute;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="container">
    <form action="{{ url_for('add_job', username=username) }}" method="POST">

        <div class="position: absolute;">
            <input class="form-control row-input" type="text" name="job_name" placeholder="Job Name">
        </div>

        <div class="position: absolute;">
            <input class="form-control row-input" type="text" name="job_role" placeholder="Job Role">
        </div>

        <div class="position: absolute;">
            <input class="form-control row-input" type="text" name="job_description" placeholder="Job Description">
        </div>

        <!--<div class="position: absolute;">
            <input class="form-control row-input" type="text" name="tech_skills" placeholder="Tech Skills (separate with a comma)">
        </div>

        <div class="position: absolute;">
            <input class="form-control row-input" type="text" name="business_skills" placeholder="Business Skills (separate with a comma)">
        </div>

        <div class="position: absolute;">
            <input class="form-control row-input" type="text" name="attitude_skills" placeholder="Attitude Skills (separate with a comma)">
        </div>-->



        <div style="font-size:14px; position:relative;">
            <br>
            <p>Select the skills that your job requires:<br>
            Object Oriented Programming
            <input type="checkbox" id="chkObject" name="tech_skills" value="Object Oriented Programming">
            <br>
            Functional Programming
            <input type="checkbox" id="chkFunctional" name="tech_skills" value="Functional Programming">
            <br>
            Dynamic Programming
            <input type="checkbox" id="chkDynamic" name="tech_skills" value="Dynamic Programming">
            <br>
            Scripting
            <input type="checkbox" id="chkScript" name="tech_skills" value="Scripting">
            <br>
            App Development
            <input type="checkbox" id="chkApp" name="tech_skills" value="App Development">
            <br>
            Static Programming
            <input type="checkbox" id="chkStatic" name="tech_skills" value="Static Programming">
            <br>
            Database Programming
            <input type="checkbox" id="chkDatabase" name="tech_skills" value="Database Programming">
            <br>
            Stack Based Programming
            <input type="checkbox" id="chkStack" name="tech_skills" value="Stack Based Programming">
            <br>
            Data-Oriented Programming
            <input type="checkbox" id="chkData" name="tech_skills" value="Data-Oriented Programming">
            <br>
            Assembly
            <input type="checkbox" id="chkAssembly" name="tech_skills" value="Assembly">
            <br>
            Organization
            <input type="checkbox" id="chkOrganization" name="business_skills" value="Organization">
            <br>
            Management
            <input type="checkbox" id="chkManagement"name="business_skills" value="Management">
            <br>
            Support/Customer Service
            <input type="checkbox" id="chkSupport"name="business_skills" value="Support/Customer Service">
            <br>
            Analysis
            <input type="checkbox" id="chkAnalysis"name="business_skills" value="Analysis">
            <br>
            Problem Solving
            <input type="checkbox" id="chkProblem"name="business_skills" value="Problem Solving">
            <br>
            Finance/Accoutning
            <input type="checkbox" id="chkFinance"name="business_skills" value="Finance/Accounting">
            <br>
            Writing
            <input type="checkbox" id="chkWriting"name="business_skills" value="Writing">
            <br>
            Public Speaking/Presenting
            <input type="checkbox" id="chkPublic"name="business_skills" value="Public Speaking/Presenting">
            <br>
            Time Management
            <input type="checkbox" id="chkTime"name="business_skills" value="Time Management">
            <br>
            Accountability
            <input type="checkbox" id="chkAccountability"name="business_skills" value="Accountability">
            <br>
            Adaptability
            <input type="checkbox" id="chkAdaptability" name="attitude_skills" value="Adaptability">
            <br>
            Honesty
            <input type="checkbox" id="chkHonesty" name="attitude_skills" value="Honesty">
            <br>
            Positive/Optimistic
            <input type="checkbox" id="chkPositive" name="attitude_skills" value="Positive/Optimistic">
            <br>
            Logical
            <input type="checkbox" id="chkLogical" name="attitude_skills" value="Logical">
            <br>
            Creativity
            <input type="checkbox" id="chkCreativity" name="attitude_skills" value="Creativity">
            <br>
            Critical Thinking
            <input type="checkbox" id="chkCritical" name="attitude_skills" value="Critical Thinking">
            <br>
            Innovative
            <input type="checkbox" id="chkInnovative" name="attitude_skills" value="Innovative">
            <br>
            Leadership
            <input type="checkbox" id="chkLeadership" name="attitude_skills" value="Leadership">
            <br>
            Respectful
            <input type="checkbox" id="chkRespectful" name="attitude_skills" value="Respectful">
            <br>
        </p>
        </div>


        <div class="position: absolute;">
            <button class="btn btn-primary" type="submit">Add Job</button>
        </div>
    </form>
</div>
{% endblock %}
