{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="position: absolute;">
        <h2 class="title">Candidate Login</h2>
    </div>
</div>

<div class="container">
    <div class="position: absolute;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>


<div class="container">
    <form method="POST" action="/candidate_login">
        <div class="position: absolute">
            <input class="form-control row-input" type="username" name="username" placeholder="Username">
        </div>

        <div class="position: absolute">
            <input class="form-control row-input" type="password" name="password" placeholder="Password">
        </div>

        <div class="position: absolute">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}