{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="center">
        <h2 class="title">Candidate Sign Up</h2>
    </div>
</div>

<div class="alert-container">
    <div class="center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>

<form method="POST" action="/candidate_signup">
    <div class="input-container">
        <input class="form-control row-input" type="username" name="username" placeholder="Username">
    </div>

    <div class="input-container">
        <input class="form-control row-input" type="password" name="password" placeholder="Password">
    </div>

    <div class="input-container">
        <input class="form-control row-input" type="email" name="email" placeholder="Email">
    </div>

    <div class="input-container">
        <input class="form-control row-input" type="text" name="name" placeholder="Name">
    </div>

    <div class="input-container">
        <input class="form-control row-input" type="text" name="phoneNum" placeholder="Phone Number">
    </div>

    <div class="input-container">
        <input class="form-control row-input" type="text" name="references" placeholder="References (separate with a comma)">
    </div>

    <div class="input-container">
        <input class="form-control row-input" type="text" name="tech_skills" placeholder="Tech Skills (separate with a comma)">
    </div>

    <div class="input-container">
        <input class="form-control row-input" type="text" name="business_skills" placeholder="Business Skills (separate with a comma)">
    </div>

    <div class="input-container">
        <input class="form-control row-input" type="text" name="attitude_skills" placeholder="Attitude Skills (separate with a comma)">
    </div>

    <div class="container">
        <div class="center">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </div>
</form>
{% endblock %}
