{% extends "base.html" %}

{% block content %}
<div class="container" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml"
     xmlns:text-align="http://www.w3.org/1999/xhtml">
    <div class="position: absolute">
        <h2 class="title">Candidate Sign Up</h2>
    </div>
</div>

<div class="container">
    <div class="position: absolute;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="container">
    <form method="POST" action="/candidate_signup">
        <div class="position: absolute;">
            <input class="form-control row-input" type="username" name="username" placeholder="Username">
        </div>

        <div class="position: absolute;">
            <input class="form-control row-input" type="password" name="password" placeholder="Password">
        </div>

        <div class="position: absolute;">
            <input class="form-control row-input" type="email" name="email" placeholder="Email">
        </div>

        <div class="position: absolute;">
            <input class="form-control row-input" type="text" name="name" placeholder="Name">
        </div>

        <div class="position: absolute;">
            <input class="form-control row-input" type="text" name="phoneNum" placeholder="Phone Number">
        </div>

        <div class="position: absolute;">
            <input class="form-control row-input" type="text" name="references" placeholder="References (separate with a comma)">
        </div>

        <br>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Tech Skills</th>
                <th>Business Skills</th>
                <th>Attitude</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkObject" name="techSkill" value="Object Oriented Programming">
                            <label class="custom-control-label" for="chkObject">OO Programming</label>
                        </div>
                    </th>
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkOrganization" name="businessSkill" value="Organization">
                            <label class="custom-control-label" for="chkOrganization">Organization</label>
                        </div>
                    </th>
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkAccountability"name="attitudeSkill" value="Accountability">
                            <label class="custom-control-label" for="chkAccountability">Accountability</label>
                        </div>
                    </th>
                </tr>

                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkFunctional" name="techSkill" value="Functional Programming">
                            <label class="custom-control-label" for="chkFunctional">Func Programming</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkManagement"name="businessSkill" value="Management">
                            <label class="custom-control-label" for="chkManagement">Management</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkAdaptability" name="attitudeSkill" value="Adaptability">
                            <label class="custom-control-label" for="chkAdaptability">Adaptability</label>
                        </div>
                    </th>
                </tr>

                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkDynamic" name="techSkill" value="Dynamic Programming">
                            <label class="custom-control-label" for="chkDynamic">Dynamic Programming</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkSupport"name="businessSkill" value="Support/Customer Service">
                            <label class="custom-control-label" for="chkSupport">Customer Service</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkHonesty" name="attitudeSkill" value="Honesty">
                            <label class="custom-control-label" for="chkHonesty">Honesty</label>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkScript" name="techSkill" value="Scripting">
                            <label class="custom-control-label" for="chkScript">Scripting</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkAnalysis" name="businessSkill" value="Analysis">
                            <label class="custom-control-label" for="chkAnalysis">Analysis</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkPositive" name="attitudeSkill" value="Positive/Optimistic">
                            <label class="custom-control-label" for="chkPositive">Positive/Optimistic</label>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkApp" name="techSkill" value="App Development">
                            <label class="custom-control-label" for="chkApp">App Development</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkProblem"name="businessSkill" value="Problem Solving">
                            <label class="custom-control-label" for="chkProblem">Problem Solving</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkLogical" name="attitudeSkill" value="Logical">
                            <label class="custom-control-label" for="chkLogical">Logical</label>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkStatic" name="techSkill" value="Static Programming">
                            <label class="custom-control-label" for="chkStatic">Static Programming</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkFinance"name="businessSkill" value="Finance/Accounting">
                            <label class="custom-control-label" for="chkFinance">Finance/Accounting</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkCreativity" name="attitudeSkill" value="Creativity">
                            <label class="custom-control-label" for="chkCreativity">Creativity</label>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkDatabase" name="techSkill" value="Database Programming">
                            <label class="custom-control-label" for="chkDatabase">DB Programming</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkWriting" name="businessSkill" value="Writing">
                            <label class="custom-control-label" for="chkWriting">Writing</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkCritical" name="attitudeSkill" value="Critical Thinking">
                            <label class="custom-control-label" for="chkCreativity">Critical Thinking</label>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkStack" name="techSkill" value="Stack Based Programming">
                            <label class="custom-control-label" for="chkStack">Stack Programming</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkPublic" name="businessSkill" value="Public Speaking/Presenting">
                            <label class="custom-control-label" for="chkPublic">Public Speaking</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkInnovative" name="attitudeSkill" value="Innovative">
                            <label class="custom-control-label" for="chkInnovative">Innovative</label>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkData" name="techSkill" value="Data-Oriented Programming">
                            <label class="custom-control-label" for="chkData">Data-Oriented Programming</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkTime" name="businessSkill" value="Time Management">
                            <label class="custom-control-label" for="chkTime">Time Management</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkLeadership" name="attitudeSkill" value="Leadership">
                            <label class="custom-control-label" for="chkLeadership">Leadership</label>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkAssembly" name="techSkill" value="Assembly">
                            <label class="custom-control-label" for="chkAssembly">Assembly</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkTeamwork"name="businessSkill" value="Teamwork">
                            <label class="custom-control-label" for="chkTeamwork">Teamwork</label>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkRespectful" name="attitudeSkill" value="Respectful">
                            <label class="custom-control-label" for="chkRespectful">Respectful</label>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>

        <div id="skillsSummary", style="font-size:14px;"></div>
        <div class="position: absolute;">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
        <br>
        <p style="font-size:14px">
            Already have an account? Sign In
            <a href="{{ url_for('candidate_login') }}", style="text-decoration:underline">here.</a>
        </p>

    </form>
</div>
{% endblock %}
