{% extends "base.html" %}

{% block content %}
<div class="templatemo-container">
    <div class="position: absolute">
        <h2 class="title">Company Profile Page</h2>
    </div>
</div>

<div class="templatemo-container">
    <div class="position: absolute;">
        <h1> {{ companyName }}'s Company Page </h1>
        <div class="position:absolute;">
            <ul>
                <li>Email: {{ email }}</li>
                <li>Phone Number: {{ phoneNum }}</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}