{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="center">
        <h2 class="title">Company Login</h2>
    </div>
</div>

<div class="alert-container">
    <div class="center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>

<form method="POST" action="/company_login">
    <form method="POST" action="/candidate_login">
    <div class="input-container">
        <input class="form-control row-input" type="username" name="username" placeholder="Username">
    </div>
    <div class="input-container">
        <input class="form-control row-input" type="password" name="password" placeholder="Password">
    </div>
    <div class="container">
        <div class="center">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</form>
{% endblock %}