{% extends "base.html" %}

{% block content %}

<link href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../../static/css/templatemo_style.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="position: absolute">
        <h2 class="title">Job Name: {{ jobName }} </h2>
    </div>
</div>

<div class="container">
    <h2>Job Info</h2>
    <h3>Job Description: {{ jobDescription }}</h3>
    <h4>Tech Skills Required: </h4>
    {% for item in techSkills %}
        <ul style="font-size:18px">
            <li>{{ item }}</li>
        </ul>
    {% endfor %}
    <h4>Business Skills Required: </h4>
    {% for item in businessSkills %}
        <ul style="font-size:18px">
            <li>{{ item }}</li>
        </ul>
    {% endfor %}
    <h4>Attitude Skills Required: </h4>
    {% for item in attSkills %}
        <ul style="font-size:18px">
            <li>{{ item }}</li>
        </ul>
    {% endfor %}
</div>
{% endblock %}